* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #271a45;
}

:root {
	font-size: 62.5%;
}

html,
body {
	font-size: 1.6rem;
	width: 100%;
	height: 100%;

	background-color: #2e2e34;
}

#app {
	background-color: #d9cdf7;
	width: 87.5rem;
	height: 49.8rem;
	border-radius: 0.96rem;
}

#productArea {
	width: 44.9rem;
	height: 100%;
	justify-content: end;
}

#product {
	width: 100%;
	height: fit-content;
	position: relative;
}

#changeViewBtn {
	position: absolute;
	top: 0.8rem;
	right: 5rem;
}

#purchaseInfo {
	padding-left: 1.3rem;
	gap: 2rem;
}

#productInfo {
	gap: 1.2rem;
}

#codeLabel {
	font-size: 1.33rem;
	font-family: "Lato", sans-serif;
}

#title {
	font-size: 4.26rem;
	font-family: "Crimson Pro", serif;
}

#priceLabel {
	font-size: 2.13rem;
	font-family: "Lato", sans-serif;
}
