* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;
}

html,
body {
	font-size: 1.6rem;
	width: 100%;
	height: 100%;

	background-color: #1e1e1e;
}

#app {
	background-color: #d9cdf7;
	width: 87.5rem;
	height: 49.8rem;
	border-radius: 0.96rem;
}

#productArea {
	width: fit-content;
	justify-content: end;
}

#product {
	width: 44.9rem;
	height: 25.3rem;
	position: relative;
}

#changeViewBtn {
	position: absolute;
	top: 0.8rem;
	right: 5rem;
}
